<div ng-app="coup">
<div ng-controller="MainController">
	<div ng-view>
		
	</div>	

</div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js" id="angular"></script>
