<form action="<%= block_url %>" method="post">
	<input type="hidden" value="Contessa" name="card">
	<input type="submit" value="claim contessa">			
</form>
Or 
<button id="challenge" onclick="challengeAction('Assassin', 'Assassination'); DisableButton(this);">Challenge</button>