Do you want to
<button id="challenge" onclick="challenge('Ambassador', 'exchange'); DisableButton(this);">Challenge</button>
<form action="<%= resolve_exchange_url %>" method="get">
	Or Just let them exchange<br>
	<input type="Submit" value="Let em exchange" id="letem">	
</form>