Do you want to
<button id="challenge" onclick="challengeAction('Duke', 'tax'); DisableButton(this);">Challenge</button>
<form action="<%= resolve_tax_url %>" method="get">
	Or Just let them take their tax?<br>
	<input type="Submit" value="Let em have it">	
</form>