<form action="<%= block_url %>" method="post">
	<input type="hidden" value="Captin" name="card">
	<input type="Submit" value="Block with Captin?" id="blockc">		
</form>
	Or
<form action="<%= block_url %>" method="post">
	<input type="hidden" value="Ambassador" name="card">
	<input type="Submit" value="Block with Ambassador?" id="blocka">		
</form>
Or 
<button id="challenge" onclick="challengeAction('Captin', 'theft'); DisableButton(this);">Challenge</button>
Or
<form action="<%= resolve_theft_url %>" method="get">
	<input type="Submit" value="Give up the money" id="rsvtheft">		
</form>
