Do you want to
<button id="challenge" onclick="challenge('<%= card %>', 'block'); DisableButton(this);">Challenge</button>
<form action="<%= resolve_block_url %>" method="get">
	Or Just let them block<br>
	<input type="Submit" value="Let em block">	
</form>