.log {
	list-style: none;
	position: relative;
	right: 80%;
	padding-top: 20px;
	bottom: 70px;
	text-align: center;
}
.game-title {
	border-bottom: 2px solid black;
}
.game-data {
	position: relative;
	left: 55%;
	
}

.input {
	position: relative;
	right: 24%;
	text-align: center;
	bottom: 50px;
	text-decoration: none;
	border-radius: none;
}
.your-cards {
	border-top: 2px solid black;
}
.form {
	display: inline-block;
}
.hidden {}

.cheat-sheet {
	text-align: center;	
	position: relative;
	left: 50%;
	bottom: 100px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
td {
	padding: 5px;
	font-size: 80%;
}