<style>
.chunk {
	float: left;
	width: 20%;
	list-style: none;
}

.player-list {

	border-top: 2px solid black;
}
</style>


<h2> Lobby </h2>

<div class="player-list">
<br>
<button ng-click="proposeGame()"> Propose Game with: </button><br><br>
<div id="otherPlayers">
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:1 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:2 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:3 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:4 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
</div>
</div>
<script>
var delay = 900000;
setTimeout(function(){
	alert("You have been logged out due to inactivity, please go back to http://localhost:3000/#/ and log in again")
},delay); 
</script>
