
<h2> Lobby </h2>


<div id="text"></div>


<div class="player-list">
<br>
<button ng-click="proposeGame()"> Propose Game with: </button><br><br>
<div id="otherPlayers">
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:1 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:2 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:3 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
<ul class="chunk">
	<li ng-repeat="element in users | oneForth:4 ">
	<input type="checkbox" name="player" id="{{element.id}}"> {{ element.nickname }}
	</li>
</ul>
</div>
</div>

