<style>
body {
	font-family: sans-serif;
	font-size: 84%;
	margin: 8px;
}
</style>
Welcome! Choose a nickname (will be visible to other players).<br><br>

<form action="/users" method="post">
  
  <label>Nickname:
  <input type="text" name="user[nickname]">
  </label>
  <br><br>

  <input type="submit" value="enter Lobby" class="submit">


</form>
